@font-face {
    font-family: Geist;
    src: url(./assets/fonts/Geist-Regular.woff2);
    font-style: normal;
}

@font-face {
    font-family: 'Protest Strike';
    src: url(./assets/fonts/ProtestStrike-Regular.ttf);
    font-style: normal;
}

:root {
    --dark-mode-bg: #1f1f2e;
    --dark-mode-fg: #242442;
    --dark-mode-text: #fff;
    --dark-mode-subtext: #ccc;
    --dark-mode-alt-fg: #3a3a78;
}

body {
    margin: 0;
    font-family: Geist;
    background: var(--dark-mode-bg);
    color: var(--dark-mode-text);
}

.hero {
    background: url(./assets/hero.png) center / cover no-repeat;
    object-fit: contain;
    background-size: contain;
    height: 80vh;
    width: 80vw;
    font-size: 2.5rem;
    font-weight: bold;
    color: #eedeff;
    text-shadow: 1px 1px 1px black;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    padding-left: 0rem;
    padding-top: 1rem;
    background-size: cover;
    border-radius: 1rem;
    margin-right: 0rem;
    margin-top: 2rem;
}



nav {
    display: flex;
    justify-content: space-between;
    padding-left: 5vw;
    padding-right: 5vw;
    background: var(--dark-mode-fg);
    align-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px #111a;
    & > :first-child {
        text-decoration: none;
        & > h2 {
            font-family: 'Protest Strike';
            color: var(--dark-mode-text);
            font-weight: normal;
            font-size: 2rem;
            cursor: pointer;
        }
    }
    & > a:not(:first-child) {
        color: var(--dark-mode-text);
        text-decoration: none;
        transition: color 150ms ease-in;
        &:hover {
            color: var(--dark-mode-subtext);
            transition: color 150ms ease-out;
        }
    }
    & > details {
        display: flex block;
        flex-direction: column;
        border: 1px solid var(--dark-mode-text);
        border-radius: 0.4rem;
        width: 50rem;
        min-height: 2.4rem;
        color: var(--dark-mode-text);
        background: var(--dark-mode-fg);
        align-content: center;
        align-items: center;
        width: max-content;
        justify-content: center;
        font-size: 1.2rem;
        &:open {
            justify-content: space-around;
            margin-bottom: -3vh;
            gap: 0.3rem;
            padding-top: .5em;
        }
        & summary svg:last-child {
            transition: transform 150ms ease-in;
            transform: rotate(0deg);
            :open & {
                transform: rotate(90deg);
            }
        }
        & > summary {
            list-style: none;
            cursor: pointer;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: space-between;
            gap: 0.3rem;
            & > svg {
                width: 1.5rem;
                height: 1.5rem;
            }
            &:hover {
                color: var(--dark-mode-subtext);
            }
        }
        &:not(:open):has(summary:hover) {
            background: var(--dark-mode-bg);
        }
        & > a {
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: flex-start;
            gap: 0.8vw;
            padding: 0.3rem 0rem;
            border-left: 1px solid var(--dark-mode-text);
            border-right: 1px solid var(--dark-mode-text);
            color: var(--dark-mode-text);
            text-decoration: none;
            transition: color 150ms ease-in, background 150ms ease-in;
            & > svg {
                width: 1.5rem;
                height: 1.5rem;
                margin-left: 0.2rem;
                transition: fill 150ms ease-in;
            }
            &:hover {
                color: var(--dark-mode-subtext);
                background: var(--dark-mode-alt-fg);
                transition: color 150ms ease-out, background 150ms ease-out;
                & svg {
                    fill: var(--dark-mode-subtext);
                    transition: fill 150ms ease-out;
                }
            }
        }
    }
}

main {
    margin-left: 5vh;
    margin-right: 5vh;
}

.db-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    & > a > svg {
        width: 2rem;
        height: 2rem;
        transition: fill 150ms ease-in;
        &:hover {
            fill: var(--dark-mode-subtext);
            transition: fill 150ms ease-out;
        }
    }
}
main:has(.sign-up) {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 0.5rem;
    background: var(--dark-mode-fg);
    width: fit-content;
    padding: 5em;
    border-radius: 2rem;
    & > h2 {
        font-weight: normal;
    }
    & > button {
        margin-top: 0.5rem;
    }
}

input:is([type='text'], [type='password'], [type='email']) {
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem;
    background: var(--dark-mode-alt-fg);
    color: var(--dark-mode-text);
    font-size: 1rem;
    outline-width: 0;
    &::placeholder {
        color: var(--dark-mode-subtext);
    }
}

button {
    border: none;
    border-radius: 0.3rem;
    padding: 0.4rem 2rem;
    font-size: 1rem;
    background: var(--dark-mode-alt-fg);
    color: var(--dark-mode-text);
    box-shadow: 0 0 4px #ccc4;
    transition: color 150ms ease-in, background 150ms ease-in;
    cursor: pointer;
    &:hover {
        background: var(--dark-mode-fg);
    }
}

input,
button {
    font-family: Geist;
}


