@font-face {
    font-family: Geist;
    src: url(./assets/fonts/Geist-Regular.woff2);
    font-style: normal;
}

@font-face {
    font-family: 'Protest Strike';
    src: url(./assets/fonts/ProtestStrike-Regular.ttf);
    font-style: normal;
}

:root {
    --dark-mode-bg: #1f1f2e;
    --dark-mode-fg: #242442;
    --dark-mode-text: #fff;
    --dark-mode-subtext: #ccc;
    --dark-mode-alt-fg: #3a3a78;
}

body {
    margin: 0;
    font-family: Geist;
    background: var(--dark-mode-bg);
    color: var(--dark-mode-text);
}

.hero {
    background: url(./assets/hero.png) center / cover no-repeat;
    object-fit: contain;
    background-size: contain;
    height: 85vh;
    width: 93vw;
    font-size: 2.5rem;
    font-weight: bold;
    color: #eedeff;
    text-shadow: 1px 1px 1px black;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-top: 1rem;
    background-size: cover;
    border-radius: 1rem;
    margin-left: 0.35rem;
    margin-top: 0.5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-left: 5vw;
    padding-right: 5vw;
    background: var(--dark-mode-fg);
    align-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px #111a;
    position: relative;
    & > :first-child {
        text-decoration: none;
        & > h2 {
            font-family: 'Protest Strike';
            color: var(--dark-mode-text);
            font-weight: normal;
            font-size: 2rem;
            cursor: pointer;
        }
    }
    & > a:not(:first-child) {
        color: var(--dark-mode-text);
        text-decoration: none;
        transition: color 150ms ease-in;
        &:hover {
            color: var(--dark-mode-subtext);
            transition: color 150ms ease-out;
        }
    }
    & > details {
        display: flex block;
        flex-direction: column;
        border: 1px solid var(--dark-mode-text);
        border-radius: 0.4rem;
        width: 50rem;
        min-height: 2.4rem;
        color: var(--dark-mode-text);
        background: var(--dark-mode-fg);
        align-content: center;
        align-items: center;
        width: 9rem !important;
        justify-content: center;
        font-size: 1.2rem;
        padding-left: 0.5rem;
        align-self: center;
        z-index: 1;
        user-select: none;
        &:not(:open) {
            max-height: 2em;
        }
        &:open {
            justify-content: space-around;
            margin-bottom: -4.2rem;
            gap: 0.3rem;
            padding-top: 0.25rem;
        }
        & summary svg:last-child {
            transition: transform 150ms ease-in;
            transform: rotate(0deg);
            :open & {
                transform: rotate(90deg);
            }
        }
        & > summary {
            list-style: none;
            cursor: pointer;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: space-between;
            position: sticky;
            outline-width: 0;
            gap: 0.3rem;
            & > :is(svg, img) {
                width: 1.5rem;
                height: 1.5rem;
                margin-bottom: 0.1rem;
            }
            & > img {
                width: 1.6rem;
                height: 1.6rem;
            }
            &:not(:open > summary):hover {
                color: var(--dark-mode-subtext);
            }
            &:is(:open > summary) {
                margin-top: 0.1rem;
            }
        }
        &:not(:open):has(summary:hover) {
            background: var(--dark-mode-bg);
        }
        & > a {
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: flex-start;
            gap: 0.8vw;
            padding: 0.3rem 0.5rem 0.3rem 0rem;
            margin-left: -0.1rem;
            color: var(--dark-mode-text);
            text-decoration: none;
            transition: color 150ms ease-in, background 150ms ease-in;
            &:last-child {
                border-bottom-left-radius: 0.4rem;
                border-bottom-right-radius: 0.4rem;
            }
            & > :is(svg, img) {
                width: 1.5rem;
                height: 1.5rem;
                margin-left: 0.2rem;
                transition: fill 150ms ease-in;
            }
            &:hover {
                color: var(--dark-mode-subtext);
                background: var(--dark-mode-alt-fg);
                transition: color 150ms ease-out, background 150ms ease-out;
                & :is(svg, img) {
                    fill: var(--dark-mode-subtext);
                    transition: fill 150ms ease-out;
                }
            }
        }
    }
}

main {
    margin-left: 5vw;
    margin-right: 5vw;
}

.db-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    & > h2 {
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        gap: 0.5rem;
        & > a {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
        }
        & > a > svg {
            width: 1.5rem;
            height: 1.5rem;
        }
        & > a > :is(svg, svg > *) {
            cursor: pointer;
            & > rect:not(:first-child) {
                fill: var(--dark-mode-bg);
            }
            & > rect:first-child {
                transition: fill 150ms ease-in;
                :is(:hover > &, &:hover) {
                    fill: var(--dark-mode-subtext);
                    transition: fill 150ms ease-out;
                }
            }
        }
    }
    & > a > svg {
        width: 2rem;
        height: 2rem;
        transition: fill 150ms ease-in;
        &:hover {
            fill: var(--dark-mode-subtext);
            transition: fill 150ms ease-out;
        }
    }
}

main:has(.sign-up) {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

main.error {
    background: var(--dark-mode-fg);
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20vh auto 0 auto !important;
    border-radius: 1rem;
    & > h1 {
        font-size: 5rem;
        margin-bottom: 0;
    }
    & > p {
        margin-bottom: 5rem;
        text-align: center;
        color: var(--dark-mode-subtext);
        & a {
            text-decoration: underline 0.01rem transparent;
            color: var(--dark-mode-text);
            transition: text-decoration-color 150ms ease-in;
            &:hover {
                text-decoration-color: var(--dark-mode-text);
                transition: text-decoration-color 150ms ease-out;
            }
        }
    }
}

main:has(form) {
    & > h2 {
        font-weight: 500;
        margin-bottom: 0rem;
    }
    & > form {
        margin-left: 1vw;
        margin-right: 2vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & section {
            min-width: 40vw;
        }
        & > :first-child {
            display: grid;
            grid-template: 12.5rem repeat(4, 2.5rem) / 10rem 10rem;
            align-items: flex-start;
            gap: 0.3rem 1rem;
            & > label {
                font-size: 1.2rem;
                grid-column: 1 / 1;
            }
            & > :not(:is(label, .species, .weight-input)) {
                grid-column: 2 / 2;
                &[type='number'] {
                    width: 2rem;
                }
            }
            & > .weight-input {
                display: grid;
                grid-template: 1fr / 4rem 3.35rem;
                gap: 0.5rem;
                width: 9rem;
            }
            & > .species {
                grid-column: 1 / 2;
                grid-row: 1 / 1;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                & h3 {
                    align-self: flex-start;
                    font-weight: 500;
                }
                & ul {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    margin-left: 0;
                    gap: 0.5rem;
                    & li {
                        list-style: none;
                        background: var(--dark-mode-fg);
                        border: 4px solid var(--dark-mode-fg);
                        transition: border-color 150ms ease-in;
                        border-radius: 0.6rem;
                        padding: 0.4rem;
                        width: 3rem;
                        height: 3rem;
                        cursor: pointer;
                        & * {
                            cursor: pointer;
                        }
                        & input {
                            appearance: none;
                        }
                        &:has(:checked) {
                            border-color: var(--dark-mode-alt-fg);
                            transition: border-color 150ms ease-out;
                        }
                    }
                }
            }
        }
        & > :last-child {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            gap: 10rem;
            & > label {
                color: var(--dark-mode-text);
                background: var(--dark-mode-fg);
                display: flex;
                width: 15rem;
                height: 15rem;
                border-radius: 50%;
                cursor: pointer;
            }
            & > input {
                display: none;
            }
        }
    }
}

.sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 1rem;
    background: var(--dark-mode-fg);
    width: fit-content;
    padding: 4em;
    border-radius: 2rem;
    height: 30rem;
    margin-top: 3rem;
    & > h2 {
        font-weight: normal;
    }
    & > button {
        margin-top: 4rem;
    }
    
}

img {
    transform: translateY(0rem);
}

input:is([type='text'], [type='password'], [type='email'], [type='number']) {
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem;
    background: var(--dark-mode-alt-fg);
    color: var(--dark-mode-text);
    font-size: 1rem;
    outline-width: 0;
    &::placeholder {
        color: var(--dark-mode-subtext);
    }
}

select {
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem;
    background: var(--dark-mode-alt-fg);
    color: var(--dark-mode-text);
    font-size: 1rem;
    outline-width: 0;
    cursor: pointer;
    transition: background 150ms ease-in;
    &:hover:not(:open) {
        background: var(--dark-mode-fg);
        transition: background 150ms ease-out;
    }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    opacity: 1;
}

button {
    border: none;
    border-radius: 0.3rem;
    padding: 0rem 0rem;
    font-size: 1rem;
    background: var(--dark-mode-alt-fg);
    color: var(--dark-mode-text);
    box-shadow: 0 0 4px #ccc4;
    transition: color 150ms ease-in, background 150ms ease-in;
    cursor: pointer;
    &:hover {
        background: var(--dark-mode-fg);
    }
}

input,
button {
    font-family: Geist;
}

.pet-item {
    background: var(--dark-mode-fg);
    border-radius: 0.3rem;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

@keyframes pulse {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.dropdown-skeleton {
    border-radius: 0.375rem;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    color: transparent;
    background: var(--dark-mode-alt-fg);
    width: 9.6em;
    height: 2.5em;
}

.pet-hero-skeleton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #242442;
    border-radius: 1rem;
    height: 20rem;
    width: 100%;
    position: relative;
    transform: translateY(0rem);
}

.pet-hero-options {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    gap: 0.5rem;
}

.pet-hero-options button {
    background: var(--dark-mode-alt-fg);
    border-radius: 0.4rem;
    padding: 0.3rem;
    align-items: center;
    justify-content: center;
}

.edit {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 3.5rem;
    height: 3.5rem;
}

.dog-profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dog-profile img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
}

.pet-hero-skeleton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--dark-mode-fg);
    border-radius: 1rem;
    width: 20rem;
    height: 40rem;
    margin: 3rem auto;
    padding: 1rem;
    position: relative;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

.pet-hero-options {
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
    display: flex;
    gap: 0.4rem;
}
.pet-hero-options button {
    background: var(--dark-mode-alt-fg);
    border-radius: 0.4rem;
    padding: 0.3rem;
    cursor: pointer;
}
.pet-hero-options button img {
    width: 2rem;
    height: 2rem;
}

.edit {
    position: absolute;
    top: 0.6rem;
    left: 0.6rem;
}
.edit button {
    background: transparent;
    border: none;
    cursor: pointer;
}
.edit img {
    width: 1.2rem;
    height: 1.2rem;
}

.dog-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.2rem;
}
.dog-profile img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--dark-mode-alt-fg);
}

.pet-info {
    background: var(--dark-mode-fg);
    border-radius: 0.6rem;
    padding: 0.8rem;
    width: 100%;
    margin-top: 0.8rem;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.pet-info p {
    margin: 0;
    color: var(--dark-mode-text);
}
.pet-info input {
    width: 100%;
    margin-top: 0.3rem;
    border: none;
    border-radius: 0.3rem;
    padding: 0.45rem;
    background: var(--dark-mode-alt-fg);
    color: var(--dark-mode-text);
    font-size: 0.9rem;
    outline: none;
}

.pet-activity {
    background: var(--dark-mode-fg);
    border-radius: 0.6rem;
    padding: 0.8rem;
    width: 100%;
    margin-top: 0.8rem;
    text-align: center;
}
.pet-activity h3 {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}
.pet-activity .wellness {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pet-activity .wellness img {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
}

.details {
    width: 90%;
    margin-top: 0.8rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
    background: var(--dark-mode-alt-fg);
    color: var(--dark-mode-text);
    font-size: 0.9rem;
    text-align: center;
    cursor: pointer;
    transition: background 150ms ease-in;
}

.details:hover {
    background: var(--dark-mode-bg);
}


/* make next: create new pet profile, settings page, & reminders page */


.add-pet-hero-skeleton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--dark-mode-fg);
    border-radius: 1rem;
    width: 20rem;
    height: 40rem;
    margin: 3rem auto;
    padding: 1rem;
    position: relative;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

.add-pet-hero-options {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.add-pet-hero-options button {
    background: transparent;
    border: none;
    cursor: pointer;
}
.add-pet-hero-options img {
    width: 1.6rem;
    height: 1.6rem;
    filter: brightness(0.8);
    transition: filter 150ms ease-in;
}
.add-pet-hero-options img:hover {
    filter: brightness(1.2);
}

.add-dog-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.8rem;
}
.add-dog-profile img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--dark-mode-alt-fg);
}

.add-pet-hero-skeleton h2 {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 1.2rem 0;
    color: var(--dark-mode-text);
}

.add-pet-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-pet-form {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    width: 100%;
    align-items: center;
}

.add-pet-form input {
    width: 90%;
    background: var(--dark-mode-alt-fg);
    border: none;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    color: var(--dark-mode-text);
    font-size: 0.9rem;
    outline: none;
    text-align: center;
    transition: background 150ms ease-in, transform 150ms ease-in;
}
.add-pet-form input:hover {
    background: var(--dark-mode-bg);
    transform: scale(1.02);
}
.add-pet-form input::placeholder {
    color: var(--dark-mode-subtext);
}

.age-birth {
    display: flex;
    justify-content: center;
    gap: 0.6rem;
    width: 100%;
}
.age-birth input {
    width: 40%;
}

.update-btn {
    background: var(--dark-mode-alt-fg);
    border: none;
    border-radius: 2rem;
    padding: 0.6rem 2rem;
    font-size: 0.95rem;
    color: var(--dark-mode-text);
    cursor: pointer;
    transition: background 150ms ease-in, transform 150ms ease-in;
    margin-top: 0.8rem;
}
.update-btn:hover {
    background: var(--dark-mode-bg);
    transform: scale(1.05);
}
